<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Coupons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/consumption-history" >Consumption History</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

